.bg-primary{
    background-color: #243a69 !important;
}

body{
    background-color:#5b88a5;
}

.color{
    background-color: #d4cdc5 !important;
}

.btn-primary{
    background-color: #5b88a5!important;
}

.font{
    font-family: sans-serif;
    font-size: 17px;
}


